.wrapper {
  border: solid gray 1px;
  border-radius: 5px;
  margin: 10px;
  min-height: 390px;
  position: relative;
}

mat-paginator {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.order-buttons {
  display: flex;
  flex-wrap: wrap;
}

.order-buttons > mat-form-field {
  margin: 0 5px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background-color: #434343;
}

app-todo {
  width: 100%;
}
