<div class='landing-wrapper'>
  <div class="exit-btn-wrapper" routerLink="/home"><div class="exit-btn"></div></div>
  <div class="landing-desc">
    <h1>Welcome!</h1>
    <br>
    Welcome to the TodoList in Angular. This is a short project created by me,
    <a class="text link" href="https://github.com/jhanreg11" target="_blank">@jhanreg11</a>, to teach myself the fundamentals of Angular with Material
    Components. Some of the subjects that I practiced in this project include: services, reactive forms, modules, lots
    of Material components, unit testing, and routing. Below is a link to my source code and the app's main page. I hope that you enjoy!
    <br>
    <br>
    <br>
    <div class="links">
      <a mat-raised-button href="https://github.com/jhanreg11/todolist-angular" target="_blank" color="primary">Source Code</a>
      <a mat-raised-button routerLink="/home" color="primary">Main Page</a>
    </div>
  </div>
</div>
