.landing-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-desc {
  text-align: center;
  width: 50%;
  font-size: 1.6em;
  line-height: 1.5em;
}

.text.link {
  color: #c2185b;
}

.link {
  z-index: 100;
}

.links {
  display: flex;
  justify-content: space-around;
}

.landing-desc > h1 {
  font-size: 2em;
}

.exit-btn-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
}

.exit-btn {
  width: 50px;
  height: 50px;
  position: relative;
}

.exit-btn:before {
  content: '';
  height: 50px;
  border-left: 5px solid #A3A3A3;
  position: absolute;
  transform: rotate(-45deg);
  left: 20px;
}

.exit-btn:after {
  content: '';
  height: 50px;
  border-right: 5px solid #A3A3A3;
  position: absolute;
  transform: rotate(45deg);
  left: 20px;
}

.exit-btn:hover:after {
  border-right: 5px solid #F3f3f3;
}

.exit-btn:hover:before {
  border-left: 5px solid #f3f3f3;
}
